[Unit]
Description=fix network stuff
After=pm2-alex.service

[Service]
ExecStart=/home/alex/shn/arch/rpi/netstart.sh
Type=idle
User=root

[Install]
WantedBy=multi-user.target
