[Unit]
Description=Start all the services
After=netstart.service

[Service]
ExecStart=/home/alex/shn/archarm/bootdingr.sh
Type=idle
User=root

[Install]
WantedBy=multi-user.target
