[Unit]
Description=Start backup when finished booting

[Service]
ExecStart=/home/alex/shn/backup/backuppi.sh
Type=idle
User=root

[Install]
WantedBy=multi-user.target
