[Unit]
Description=Bitwarden run via cargo

[Service]
ExecStart=cargo run --release
WorkingDirectory=/home/alex/bitwarden_rs
Type=idle
User=alex

[Install]
WantedBy=multi-user.target

