[Unit]
Description=This is for turning on the ledstrip and amp after boot and on resume
Wants=network-online.target
After=network-online.target suspend.target

[Service]
ExecStart=/bin/python3 /home/alex/shn/bash/ledstrip.py -p on
ExecStartPost=/bin/python3 /home/alex/shn/bash/switch.py -a on

[Install]
WantedBy=multi-user.target suspend.target