[Unit]
Description=i3lock
Before=sleep.target

[Service]
User=alex
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/alex/shn/scripts/bash/i3lock.sh
ExecStartPost=/bin/sleep 1

[Install]
WantedBy=sleep.target
