[Unit]
Description=Start all the services as alex
After=netstart.service

[Service]
ExecStart=/home/alex/shn/archarm/bootdinga.sh
Type=idle
User=alex

[Install]
WantedBy=multi-user.target
