[Unit]
Description=start all the tmux sessions
After=netstart.service

[Service]
ExecStart=/home/alex/shn/tmux/tmuxjih.sh
Type=idle
User=root

[Install]
WantedBy=multi-user.target
